---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/Home.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";

export function getStaticPaths() {
	const pages = [
		{
			slug: undefined,
			lang: "en",
		},
		{
			slug: "en",
			lang: "en",
		},
		{
			slug: "es",
			lang: "es",
		},
	];

	return pages.map(({ slug, lang }) => {
		return {
			params: { slug },
			props: { lang },
		};
	});
}

interface Props {
	lang: "en" | "es";
}

const { lang } = Astro.props;
---

<Layout title="Pablo Villarroel - Software Engineer">
	<Navbar lang={lang} />
	<main class="w-full md:px-0 md:m-auto">
		<div class="flex flex-col gap-10 lg:mt-8">
			<Home lang={lang} />
			<Projects lang={lang} />
			<Contact lang={lang} />
			<Footer />
		</div>
	</main>
</Layout>
