---
import IconLink from "./IconLink.astro";
import { CONTACTS } from "../data";
---

<footer
  class="bg-black w-full h-44 flex gap-2 justify-center items-center mt-10 flex-col"
>
  <p class="text-white">Created by Pablo Villarroel :)</p>
  <div class="flex gap-2">
    {
      CONTACTS.map((contact) => (
        <IconLink
          href={contact.url}
          icon={contact.icon}
          color="white"
          size="h-4"
        />
      ))
    }
  </div>
</footer>
