---
import { PAGECONTENT } from "../data";
import SectionLayout from "./SectionLayout.astro";
interface Props {
  lang: "en" | "es";
}

const { lang } = Astro.props;
---

<SectionLayout>
  <div class="flex flex-col lg:flex-row w-full justify-between gap-10 lg:gap-0">
    <section id="home" class="flex gap-5 flex-col md:max-w-4xl">
      <div class="max-w-3xl flex">
        <h1
          class="text-animation py-4 text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 text-4xl md:text-6xl font-bold"
        >
          {PAGECONTENT[lang].title}
        </h1>
      </div>
      {
        PAGECONTENT[lang].description.map((paragraph) => (
          <p class="max-w-3xl text-xl">{paragraph}</p>
        ))
      }
      <div class="flex gap-3 items-center">
        <a
          class="hover:-translate-y-1 hover:shadow-2xl bg-black text-white py-2 px-6 rounded-md transition-all"
          target="_blank"
          href={"https://drive.google.com/file/d/131a_RjyuoJ06f-o_TLgl86uSXvILZrJj/view?usp=share_link"}
        >
          {PAGECONTENT[lang].cv}
        </a>
        <a
          id="go-to-contact"
          class="hover:-translate-y-1 hover:cursor-pointer hover:shadow-2xl bg-white text-black border-2 border-black py-2 px-6 rounded-md transition-all"
        >
          Contact me
        </a>
      </div>
    </section>
    <div class="flex items-center">
      <img
        src="/profile.jpeg"
        width="250px"
        class="mx-4 rounded-full"
        alt="Pablo's profile photo"
      />
    </div>
  </div>
</SectionLayout>

<style>
  .text-animation {
    --bg-size: 400%;
    --color-one: #c084fc;
    --color-two: #db2777;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }

  @media (prefers-reduced-motion: no-preference) {
    .text-animation {
      animation: move-bg 15s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
</style>

<script>
  import { scrollToElement } from "../utils/scroll-to-element";
  const goToContact = document.getElementById('go-to-contact');
  goToContact?.addEventListener('click', () => {
    scrollToElement('contact');
  });
</script>