---
import { Icon } from "astro-icon";

interface Props {
  href: string;
  icon: string;
  color?: string;
  size?: string;
}

const { href, icon, color, size } = Astro.props;
---

<a
  class="text-black"
  href={href}
  target="_blank"
  aria-label={`Go to Pablo's ${icon}`}
>
  <Icon
    class={`${size || "h-6"} text-${color}`}
    name={`simple-icons:${icon}`}
  />
</a>
