---
import { Icon } from "astro-icon";

interface Props {
  href: string;
  icon: string;
}

const { href, icon } = Astro.props;
---

<a
  class="text-black"
  href={href}
  target="_blank"
>
  <Icon class="h-6" name={`simple-icons:${icon}`} />
</a>
