---
import { Icon } from "astro-icon";

interface Props {
  href: string;
  icon: string;
  color?: string;
  size?: number;
}

const { href, icon, color, size } = Astro.props;
---

<a class="text-black" href={href} target="_blank">
  <Icon class={`h-${size || '6'} text-${color}`} name={`simple-icons:${icon}`} />
</a>
