---
import { MenuIcon } from "astro-navbar";
import SectionLayout from "./SectionLayout.astro";
interface Props {
  lang: "en" | "es";
}

const { lang } = Astro.props;

const menuitems = [
  {
    title: {
      en: "Home",
      es: "Inicio",
    },
    path: "#",
  },
  {
    title: {
      en: "Projects",
      es: "Proyectos",
    },
    path: "#",
  },
  {
    title: {
      en: "Contact",
      es: "Contacto",
    },
    path: "#",
  },
];
---

<div class="top-0 w-full sticky px-0 z-20">
  <SectionLayout>
    <nav class="flex items-center py-2 gap-8 bg-white justify-between">
      <a href="/" class="font-sans font-bold text-xl">PABLO VILLARROEL</a>
      <ul class="md:flex gap-12 hidden">
        {
          menuitems.map((item) => (
            <li id={item.title.en} class="cursor-pointer text-lg font-bold py-2">
              {item.title[lang].toUpperCase()}
            </li>
          ))
        }
        <select class="bg-white font-bold">
          <option value="en" selected={lang === "en"}>EN 🇺🇸</option>
          <option value="es" selected={lang === "es"}>ES 🇨🇱</option>
        </select>
      </ul>
      <div id="menu-button" class="md:hidden">
        <MenuIcon />
      </div>
    </nav>
    <div id="dropdown" class="bg-white hidden w-full">
      <ul class="pb-4 flex flex-col gap-3">
        {
          menuitems.map((item) => (
            <li class="text-lg font-bold py-2">{item.title[lang].toUpperCase()}</li>
          ))
        }
        <select class="bg-white font-bold">
          <option value="en" selected={lang === "en"}>EN 🇺🇸</option>
          <option value="es" selected={lang === "es"}>ES 🇨🇱</option>
        </select>
      </ul>
    </div>
  </SectionLayout>
</div>

<script>
  function handleClick() {
    const dropdown = document.getElementById("dropdown");
    dropdown?.classList.toggle("hidden");
  }

  document
    .getElementById("menu-button")
    ?.addEventListener("click", handleClick);

  function scrollToElement(element: string) {
    const el = document.getElementById(element.trim());
    const position = el?.getBoundingClientRect();
    window.scrollTo({
      behavior: "smooth",
      left: position!.left,
      top: position!.top + window.scrollY - 100,
    });
  }

  const menuItems = document.querySelectorAll("li");
  menuItems.forEach((item) => {
    item.addEventListener("click", () => {
      const element = item.id?.toLowerCase();
      scrollToElement(element!);
    });
  });

  const selects = document.querySelectorAll("select");
  selects.forEach((select) => {
    select?.addEventListener("change", (e) => {
      const lang = (e.target as HTMLSelectElement).value;
      window.location.replace(`/${lang}`);
    });
  });
</script>
